@model IEnumerable<Cumulative_Project1.Models.Teacher>

@foreach (Cumulative_Project1.Models.Teacher teacher in Model)
{
    <div>
        <a href="/TeacherPage/Show/@teacher.TeacherId">@teacher.TeacherFirstName @teacher.TeacherLastName</a>
    </div>
}
